*~
*.bak
CGAL/
CherryTree/
EMBOSS/
MPlayer/
MPlayer.bak/
OpenSceneGraph/
R/
SimGear/
SlackHacks/
amd-app-sdk/
amdgpu-opencl/
antfs_cli-git/
btop/
chk3ppdeps-2019.1202/
claws-mail/
clementine/
crashplan/
darktable/
deb2tgz/
dhcpcd/
dillo/
dunst/
duplicity/
dvdauthor/
dvdauthor_ponce/
easytag/
easytag_slackware/
eduActive8/
enet/
ettercap-NG/
exiftool/
extremetuxracer/
fail2ban/
ffmpeg/
flashplayer-plugin/
fontforge/
foot/
freemind/
freetype/
gammu/
gcompris-qt/
gdl/
genpak/
glamor-egl/
gramps/
gtk-layer-shell/
herrie/
hugin/
i3/
i3_git/
i3lock-color/
i3status/
i3status.bak/
i3status_mpd-fork/
i3status_mpd-fork.bak/
inkscape/
kde/
kdenlive/
krusader/
libclc/
libmpdclient/
libtxc_dxtn/
libvorbis-aotuv/
libxkbcommon/
lightzone/
linuxconsoletools/
luminance-hdr/
mesa/
mesa.bak/
minecraft/
moc/
moc_svn/
moc_svn.bak/
mpd/
mpdscribble/
ncmcpp-0.8.2/
ncmpcpp/
ncmpcpp-0.6.7/
nordvpn/
osm-gps-map/
phonon/
phonon-vlc/
picard/
plexmediaserver/
plexmediaserver_latest/
rapidjson/
rofi/
rofi-lbonn-wayland/
rstudio/
rstudio-git/
slim/
slim_ljs/
spacefm/
speed-dreams/
strawberry/
sway/
swaylock-effects/
tuxpaint/
tuxpaint-stamps/
udevil/
ufraw/
ugene/
waybar/
wlroots/
wofi/
xmind/
README.md
